/* fraunces-300 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/fraunces-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/fraunces-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/fraunces-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/fraunces-v3-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/fraunces-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/fraunces-v3-latin-300.svg#Fraunces') format('svg'); /* Legacy iOS */
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #92979B;
  background-color: #1D1F20;
  font-family: 'Fraunces', "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

header,
footer,
main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

a, a:hover, a:focus {
  color: #C5C8C9;
}

a:hover, a:focus {
  border-bottom: 1px dotted #C5C8C9;
}


h1, h2, h3, p {
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
}

.lead {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  padding-top: 2rem;
  border-top: double 3px rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
  margin-bottom: 2rem;
  clear: both;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0 0 1rem 0;
}

.p1 {
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2, .condensed {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.small-container {
  max-width: 540px;
  width: 100%;
}

::selection, ::-moz-selection {
  color: #1D1F20;
  background-color: #92979B;
}

@media (min-width: 850px) {
  .small-container {
    float: right;
    margin-top: -3.75rem;
  }
}