html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #92979B;
  background-color: #1D1F20;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

.fonts-loaded > body {
  font-family: "ff-tisa-web-pro", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

header,
footer,
main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

a, a:hover, a:focus {
  color: #C5C8C9;
}

a:hover, a:focus {
  border-bottom: 1px dotted #C5C8C9;
}


h1, h2, h3, p {
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
}

.lead {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  padding-top: 2rem;
  border-top: double 3px rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
  margin-bottom: 2rem;
  clear: both;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0 0 1rem 0;
}

.p1 {
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2, .condensed {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.small-container {
  max-width: 540px;
  width: 100%;
}

::selection, ::-moz-selection {
  color: #1D1F20;
  background-color: #92979B;
}

@media (min-width: 850px) {
  .small-container {
    float: right;
    margin-top: -3.75rem;
  }
}