<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Morgan Stone - {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#89a846">
  {% set css %}
    {% include "bbq-links.css" %}
  {% endset %}
  <style type="text/css">
    {{ css | cssmin | safe }}
  </style>
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
  {% set gaJS %}
    {% include "ga.js" %}
  {% endset %}
  <script>
    /* ga script */
    {{ gaJS | jsmin | safe }}
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>