<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Morgan Stone</title>
  <meta name="description" content="Personal website of Morgan Stone from Birmingham, Alabama">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#89a846">
  {% set css %}
    {% include "main.css" %}
  {% endset %}
  <style type="text/css">
    {{ css | cssmin | safe }}
  </style>
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="dns-prefetch" href="https://use.typekit.net">
  <link rel="preload" href="https://use.typekit.net/dym1egh.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://use.typekit.net/dym1egh.css"></noscript>
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
</head>
<body>
  <main>
    <h1 class="container p1 condensed">Morgan Stone</h1>
    <div class="container p1">
      {{ content | safe }}
    </div>
  </main>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Morgan Stone",
      "url": "https://morganstone.me",
      "sameAs": [
        "https://www.linkedin.com/in/morganstone",
        "https://github.com/mstone6769",
        "https://codepen.io/mstone6769/",
        "https://twitter.com/morganstone",
        "https://www.instagram.com/smokin.stone/",
        "https://www.behance.net/mstone",
        "https://www.flickr.com/people/morganstone/",
        "https://dribbble.com/mstone",
        "https://www.facebook.com/mstone"
      ]
    }
  </script>
  {% set js %}
    {% include "font-loading.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-1337770-1', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>