<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Morgan Stone</title>
  <meta name="description" content="Personal website of Morgan Stone from Birmingham, Alabama">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#89a846">
  {% set css %}
    {% include "main.css" %}
  {% endset %}
  <style type="text/css">
    {{ css | cssmin | safe }}
  </style>
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
</head>
<body>
  <main>
    <h1 class="container p1 condensed">Morgan Stone</h1>
    <div class="container p1">
      {{ content | safe }}
    </div>
  </main>
  {% set personSchemaJSON %}
    {% include "person-schema.json" %}
  {% endset %}
  <script type="application/ld+json">
    {{ personSchemaJSON | nowhitespace | safe }}
  </script>
  {% set fontLoadingJS %}
    {% include "font-loading.js" %}
  {% endset %}
  {% set gaJS %}
    {% include "ga.js" %}
  {% endset %}
  <script>
    {{ gaJS | jsmin | safe }}
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>